.banner{
     background-image: linear-gradient(to top, #908ff5 0%, #4f4f6b 100%);
   
     color: white;
     margin-bottom: 0px;
     background-color: #eceeef;
     border-radius: 0;
     margin-bottom: -3px !important;

   
}

