.banner{
     background-image: linear-gradient(to top, #7473e3 0%, #302ed7 100%);
     color: white;
     margin-bottom: 0px;
     background-color: #eceeef;
     border-radius: 0;
     margin-bottom: -3px !important;

   
}

