<div class="row body-form">
    <div class="offset-md-3 col-md-6 text-center">
            
        <form [formGroup]="sampleForm" class="sample" name="sampleForm" id="sampleForm" novalidate>
            <fieldset>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" formControlName="name" placeholder="Name" [ngClass]="{'error-input':(!sampleForm.controls.name.valid && !sampleForm.controls.name.pristine )}">
                </div>

                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input class="form-control" id="cpf" name="cpf" type="text" formControlName="cpf" placeholder="CPF" [ngClass]="{'error-input':(!sampleForm.controls.cpf.valid && !sampleForm.controls.cpf.pristine )}">
                </div>

                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input class="form-control" id="cnpj" name="cnpj" type="text" formControlName="cnpj" placeholder="CNPJ" [ngClass]="{'error-input':(!sampleForm.controls.cnpj.valid && !sampleForm.controls.cnpj.pristine )}">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input class="form-control" id="telefone" name="telefone" type="text" formControlName="telefone" placeholder="Telefone" [ngClass]="{'error-input':(!sampleForm.controls.telefone.valid && !sampleForm.controls.telefone.pristine )}">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" name="email" type="text" formControlName="email" placeholder="Email" [ngClass]="{'error-input':(!sampleForm.controls.email.valid && !sampleForm.controls.email.pristine )}">
                </div>
                <div class="form-group">
                    <label for="maiorIdade">Maior de idade</label>
                    <input id="maiorIdade" class="form-control" type="date" name="maiorIdade" formControlName="maiorIdade" placeholder="Maior de Idade" [ngClass]="{'error-input':(!sampleForm.controls.maiorIdade.valid && !sampleForm.controls.maiorIdade.pristine )}">

                </div>


                <div class="form-group offset-md-10">
                    <button type="submit" class="btn btn-outline-secondary">Continuar</button>
                    <!--<button (click)="submit()" class="btn btn-warning continuar">Continuar</button>-->
                </div>
            </fieldset>
        </form>

    </div>

</div>
